@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
  overflow-x: hidden;
}

.strokeme {
  color: #fff;
}

.btn-primary {
  @apply bg-primary border-primary;
  @apply hover:bg-white hover:text-primary hover:border-primary;
}

.btn-secondary {
  @apply bg-transparent border-white;
  @apply hover:bg-white hover:text-primary hover:border-primary;
}

.hero-card {
  clip-path: polygon(15% 0%, 100% 0, 100% 90%, 90% 100%, 0 100%, 0 10%);
}
